// Fonts
$font-family-body: "JetBrains Mono";
$font-family-mono: "JetBrains Mono";
$font-family-tt: "Arial";
$font-size: 14px;
$line-height: 1.725;
$page-width: 48rem;
// Logo
$logo-width: 50px;
$logo-height: 50px;
$logo-grayout: true;
// Colors
$colors: "dark" // white dark light classic