// Fonts
$font-family-body: "Karla", ;
$font-family-mono: "Karla";
$font-family-tt: "Karla";
$font-size: 18px;
$line-height: 1.725;
$page-width: 48rem;
// Logo
$logo-width: 50px;
$logo-height: 50px;
$logo-grayout: true;
// Colors
$colors: "dark" // white dark light classic